* {
  margin: 0;
  padding: 0;
}

.box {
  background-color: bisque;
  height: 100vh;
  /* width: 50%; */
}

div a {
  background-color: brown;
}

div span {
  background-color: blueviolet;
}

div p {
  width: 50%;
  background-color: green;
  color: violet;
  text-align: justify;
  text-align-last: justify;
  /* text-indent: 50px; */
}

div h2 {
  text-align: right;
}
